<div class="container d-flex align-items-center justify-content-center">
    <div class="row main-award-section p-3">
        <div class="col-md-8">
            <div class="row p-1">
                <div class="col-md-6 p-4">
                    <div class="main-image-area p-3"></div>
                </div>
                <div class="col-md-6 p-4 award-details">
                    <div class="h5 text-danger title">
                        AWARDS
                    </div>
                    <div class="h4 sub-title">
                        Title Lorem ipsum: dolor sit amet consectetur adipisicing elit.
                    </div>
                    <div class="font-weight-light description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus suscipit perferendis
                    </div><br>
                    <div class="h6 mt-10 link">
                        view details
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row p-2 d-flex justify-content-center align-items-center">
                <div class="col-md-4 sub-image-area p-3"></div>
                <div class="col-md-8 sub-image-decription">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                </div>
            </div>
            <div class="row p-2 d-flex justify-content-center align-items-center">
                <div class="col-md-4 sub-image-area p-3"></div>
                <div class="col-md-8 sub-image-decription">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                </div>
            </div>
            <div class="row p-2 d-flex justify-content-center align-items-center">
                <div class="col-md-4 sub-image-area p-3"></div>
                <div class="col-md-8 sub-image-decription">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                </div>
            </div>
            <div class="row p-2 d-flex justify-content-center align-items-center">
                <div class="col-md-4 sub-image-area p-3"></div>
                <div class="col-md-8 sub-image-decription">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                </div>
            </div>
        </div>
    </div>
</div>