<div class="main-container">
    <div class="power-ranking-container">
        <div class="top-container">
            <img src="assets/placeholder.jpg" alt="power-ranking-image" />
            <div class="text-box">
                <div style="padding: 15px 0;">
                    <h1>Franchise Power Ranking</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, esse neque. Maxime laudantium
                        assumenda
                        id beatae temporibus. Dignissimos saepe, consectetur necess</p>
                </div>
            </div>
        </div>
        <div class="bottom-container">
            <div class="first-row">
                <span>Rank</span>
                <span>Brand Page</span>
                <span>Trending</span>
                <span style="text-align: left;">Latest Story</span>
            </div>
            <div class="second-row">
                <span style="font-weight: bolder; transform: scale(3, 3);">1</span>
                <span style="font-weight: bolder; transform: scale(2, 2);">Brand</span>
                <div class="trending-block">
                    <span style="font-size: 12px; color: black;">Last Week</span>
                    <span style="font-weight: bolder; transform: scale(2, 2);">1</span>
                </div>
                <span style="text-decoration: underline; text-align: left;">Lorem ipsum dolor sit amet consectetur
                    adipisicing eli</span>
            </div>
        </div>
    </div>
</div>