.image-container {
  background-color: #c4c4c4;
  min-height: 90px;

  .tag {
    background-color: #d83049;
    color: #fff;
    font-size: 12px;
  }
}

.title {
  background-color: #dde0e2;
  line-height: 18px;
}
