.trending {
  background-color: lightblue;
  color: grey;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 16px;
  border-bottom: 1px solid darkgray;
  span {
    color: red;
    font-family: "Ballinger Condensed Medium";
    img {
      width: auto;
      margin-top: -4px;
    }
  }
}

:host ::ng-deep .owl-carousel {
  .owl-stage-outer {
    overflow: hidden;
    .owl-stage {
      display: flex;
      .slideItem {
        padding: 0 20px;
        box-sizing: border-box;
      }
    }
  }
  .owl-nav {
    > div {
      // position: absolute;
      top: 50%;
      transform: rotate(-90deg);
      background-repeat: no-repeat;
      background-size: 22px;
      height: 43px;
      width: 25px;
      cursor: pointer;
      &.owl-prev {
        right: 0px;
        top: 10px;
        background: #e8eef2;
      }
      &.owl-next {
        right: 0px;
        top: -10px;
        background: #e8eef2;
      }
    }
  }
}

.slideItem {
  font-weight: bold;
  margin-bottom: 47px;
}
