<app-header></app-header>
<hr class="divider" />
<div class="container mt-5">
  <div class="row">
    <div class="col-8">
      <article>
        <div class="image-container">
          <label class="px-2 py-1 tag">
            <strong>SPECIAL FEATURE</strong>
          </label>
        </div>
        <div class="mt-3">
          <h2>
            <strong>Title Lorem Ipsum Conset Entumi Abudi ?</strong>
          </h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor
            mollitia odio autem sequi dolore inventore adipisci commodi debitis
            rerum numquam molestias non ipsa dolorem quasi magnam, nesciunt
            vitae minima necessitatibus.
          </p>
        </div>
      </article>
    </div>
    <aside class="col-3 offset-1">
      <div class="d-grid gap-3">
        <app-news-item></app-news-item>
        <app-news-item></app-news-item>
        <app-news-item></app-news-item>
        <app-news-item></app-news-item>
      </div>
    </aside>
  </div>
</div>
