<section class="c-card-box--section">
  <div class="c-card-box--wrapper">
    <div class="c-card-box--row c-card-box--contentRow">
      <div class="c-card-box--col c-ml--auto">
        <div class="c-card-box--contentGroup">
          <h4 class="c-card-box--subTitle">THIS MONTHS ISSUE</h4>
          <h1 class="c-card-box--title">Back to Business</h1>
          <p class="c-card-box--content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi quae
            officiis
            veniam totam ratione officia sapiente repellendus.</p>
          <a href="#" class="c-link--btn">Read more &gt;</a>
        </div>
      </div>
    </div>
    <div class="c-card-box--row">
      <div class="c-card-box--col">
        <div class="c-card-box--imageWrapper isMainCardBox">
          <img src="../../assets/images/mock-image-1.png" alt="Mock Image" class="card-image">
        </div>
      </div>
      <div class="c-card-box--col">
        <div class="c-card-box--group">
          <div class="c-card-box--item">
            <div class="c-card-box--imageWrapper">
              <img src="../../assets/images/mock-image-2.png" alt="Mock Image" class="card-image">
            </div>
            <h4 class="c-card-box--itemTitle">
              Lorem ipsum dolor
            </h4>
            <p class="c-card-box--itemDec">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis, ipsum eveniet dignissimos
              necessitatibus commodi nihil ad harum vel est cum obcaecati aliquam aut ratione cupiditate a? Odio amet
              praesentium facere!
            </p>
            <a href="#" class="c-link--btn">Read more &gt;</a>
          </div>
          <div class="c-card-box--item">
            <div class="c-card-box--imageWrapper">
              <img src="../../assets/images/mock-image-3.png" alt="Mock Image" class="card-image">
            </div>
            <h4 class="c-card-box--itemTitle">
              Lorem ipsum dolor
            </h4>
            <p class="c-card-box--itemDec">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis, ipsum eveniet dignissimos
              necessitatibus commodi nihil ad harum vel est cum obcaecati aliquam aut ratione cupiditate a? Odio amet
              praesentium facere!
            </p>
            <a href="#" class="c-link--btn">Read more &gt;</a>
          </div>
          <div class="c-card-box--item">
            <div class="c-card-box--imageWrapper">
              <img src="../../assets/images/mock-image-4.png" alt="Mock Image" class="card-image">
            </div>
            <h4 class="c-card-box--itemTitle">
              Lorem ipsum dolor
            </h4>
            <p class="c-card-box--itemDec">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis, ipsum eveniet dignissimos
              necessitatibus commodi nihil ad harum vel est cum obcaecati aliquam aut ratione cupiditate a? Odio amet
              praesentium facere!
            </p>
            <a href="#" class="c-link--btn">Read more &gt;</a>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
